<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.bourke.glimmr"
      android:versionCode="5"
      android:versionName="1.5"
      android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.glimmr"
        android:hardwareAccelerated="true">

        <activity android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="glimmr-oauth-callback" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ProfileActivity"
            android:label="@string/app_name" />

        <activity android:name=".activities.PhotoViewerActivity"
            android:uiOptions="splitActionBarWhenNarrow"
            android:label="@string/app_name" />

        <activity android:name=".activities.GroupViewerActivity"
            android:label="@string/app_name" />

        <activity android:name=".activities.PhotosetViewerActivity"
            android:label="@string/app_name" />

        <activity android:name=".activities.ExifInfoDialogActivity"
            android:label="@string/exif_info"
            android:theme="@style/Theme.Sherlock.Light.Dialog" />

        <activity android:name=".activities.CommentsDialogActivity"
            android:label="@string/comments"
            android:theme="@style/Theme.Sherlock.Light.Dialog" />

        <activity
            android:name=".activities.PreferencesActivity"
            android:label="@string/set_preferences" />

		<receiver android:name="com.commonsware.cwac.wakeful.AlarmReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>

			<meta-data
				android:name="com.commonsware.cwac.wakeful"
				android:resource="@xml/wakeful"/>
		</receiver>

        <service android:name=".services.AppService" />

    </application>
</manifest>
