<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bourke.glimmr" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application android:allowBackup="true" android:hardwareAccelerated="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:theme="@style/Theme.Glimmrdark">

        <!-- Activities -->
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.default_searchable" android:value=".activities.SearchActivity"/>
        </activity>

        <activity android:launchMode="singleTop" android:name=".activities.ExploreActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/callback_scheme"/>
            </intent-filter>
            <meta-data android:name="android.app.default_searchable" android:value=".activities.SearchActivity"/>
        </activity>

        <activity android:name=".activities.ProfileViewerActivity">
            <meta-data android:name="android.app.default_searchable" android:value=".activities.SearchActivity"/>
        </activity>

        <activity android:name=".activities.PhotoViewerActivity" android:uiOptions="splitActionBarWhenNarrow">

            <meta-data android:name="android.app.default_searchable" android:value=".activities.SearchActivity"/>
        </activity>

        <activity android:name=".activities.LinkInterceptorActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:host="www.flickr.com" android:pathPattern="/photos/.*/.*" android:scheme="http"/>
                <data android:host="www.flickr.com" android:pathPattern="/people/.*" android:scheme="http"/>
                <data android:host="www.flickr.com" android:pathPattern="/groups/.*" android:scheme="http"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.GroupViewerActivity">
            <meta-data android:name="android.app.default_searchable" android:value=".activities.SearchActivity"/>
        </activity>

        <activity android:name=".activities.PhotosetViewerActivity">
            <meta-data android:name="android.app.default_searchable" android:value=".activities.SearchActivity"/>
        </activity>

        <activity android:name=".activities.SettingsActivity"/>

        <activity android:name=".activities.SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>

        <activity android:name=".appwidget.StackViewWidgetConfigure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.PhotoUploadActivity" />

        <activity android:name=".activities.LocalPhotosActivity"/>

        <!-- BroadcastReceivers -->
        <receiver android:name=".appwidget.StackWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/app_widget_info"/>
        </receiver>

        <receiver android:name="com.commonsware.cwac.wakeful.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>

            <meta-data android:name="com.commonsware.cwac.wakeful" android:resource="@xml/wakeful"/>
        </receiver>

        <!-- Services -->
        <service android:exported="false" android:name=".appwidget.StackWidgetService" android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <service android:name=".services.AppService"/>

        <service android:name=".tape.AddToGroupTaskQueueService"/>

        <service android:name=".tape.AddToPhotosetTaskQueueService"/>

        <service android:name=".tape.UploadPhotoTaskQueueService"/>
    </application>

</manifest>
